@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FDFBFF; /* Clean White */
  color: #1E1B4B;
  font-family: 'Inter', sans-serif;
}